<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Shopify Tests">
            <directory>./tests/.</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SHOPIFY_TESTING" value="false"/>
        <env name="SHOPIFY_DOMAIN" value=""/>
        <env name="SHOPIFY_TOKEN" value=""/>
    </php>
</phpunit>